{% extends 'base.html' %}
 
{% block content %}
  <div class="post-entry">
    <p>{{ filefeedbackevent.pk }}</p>
    <h2>{{ filefeedbackevent.EventName }}</h2>
    <p>{{ filefeedbackevent.PublicationDate }}</p>
    <p>{{ filefeedbackevent.EventDate }}</p>
    <p>{{ filefeedbackevent.owner }}</p>
    <p>{{ filefeedbackevent.owner.email }}</p>
  </div>


  {% if request.user.is_authenticated %}
      <a href="{% url 'filefeedback_subscribe_event' filefeedbackevent.pk  %}">Подписаться</a>
      <br>
      <a href="{% url 'filefeedback_send_feedback' filefeedbackevent.pk %}">Оставить отзыв</a>
      <br>
      <a href="{% url 'filefeedback_send_feedback_file' filefeedbackevent.pk %}">Отправить файл</a>
  {% endif %}

  <br>
  <br>
{% endblock content %}
