{% extends 'base.html' %}
 

{% block content %}

  {% if user.is_authenticated %}
    <p>Hi <a href="{% url 'user_profile' %}">{{ user.username }}</a>!</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
  {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}

  <a href="{% url 'event_create'%}">Create new event</a>

  {% for event in object_list %}
    <div class="post-entry">
      <h2>{{ event.id }} <a href="{% url 'event_detail' event.pk %}">{{ event.EventName }}</a></h2>
      <p>{{ event.PublicationDate }}</p>
      <p>{{ event.EventDate }}</p>
      <p>Owner: {{ event.owner }}</p>
      
      <b><a  href="{% url 'event_detail'  event.pk  %}">details</a></b>
      <b><a  href="{% url 'event_update'  event.pk  %}">edit</a></b>
      <b><a  href="{% url 'event_delete'  event.pk  %}">delete</a></b>
      <hr>
    </div>
  {% endfor %}
{% endblock content %}