{% extends 'base.html' %}
 
{% block content %}
    <h2>Your account</h2>
    <p>Hello, {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Group: {{ user.groups.all }}</p>


    <h4>Your events and subscribers:</h4>
    <ol>
        {% for event_subscriber in events_to_subscribers %}
            {% if event_subscriber.event == 1 %}
                <li>{{ event_subscriber.subscriber }} -----
                {{ event_subscriber.event }}</li>
            {% endif %}
        {% endfor %}
    </ol>

{% endblock content %}