{% extends 'base.html' %}
 
{% block content %}
    <h2>Your account</h2>
    <p>Hello, {{ user.username }}</p>


    <h3>Your events and subscribers:</h3>
    <br>

        {% for event_subscriber in events_to_subscribers %}
            {% for event in event_subscriber.event.all %}
                {% if event.owner == current_user %}

                    <!-- Событие -->
                    <p>Event: {{ event.EventName }}</p>
                    <!-- Подписчик -->
                    <p>
                        Subscriber: 
                        {% for subscriber in event_subscriber.subscriber.all %}
                            {{ subscriber }}
                        {% endfor %}  
                    </p>
                    <!-- Дата подписки  -->
                    <p>
                        Subscription Date:
                        {{ event_subscriber.SubscriptionDate }}
                    </p>
                    
                    <hr>
                {% endif %}
            {% endfor %}   
        {% endfor %}
{% endblock content %}